
body {
    font-family: Arial, sans-serif;
}
header {
    background: url('../img/livingroom.jpg') no-repeat center center/cover;
    height: 300px;
}
header h1 {
    font-size: 3rem;
    font-weight: bold;
}
